@model IEnumerable<MVCDay2.ViewModel.TraineeCourseViewModel>

@{
    ViewData["Title"] = "ShowTraineeResult";
}

<h1>ShowTraineeResult</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_degree)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="color:@item.color">
                <td style ="color:@item.color">
                @Html.DisplayFor(modelItem => item.TName)
            </td>
                <td style="color:@item.color">
                @Html.DisplayFor(modelItem => item.CName)
            </td style="color:@item.color">
            <td style="color:@item.color">
                @Html.DisplayFor(modelItem => item.Degree)
            </td style="color:@item.color">
            <td>
                @Html.DisplayFor(modelItem => item.Min_degree)
            </td style="color:@item.color">
        </tr>
}<a asp-action="AllTrainee" asp-controller="Trainee"  class="btn btn-success">All Trainees</a>
    </tbody>
</table>
